<a href="https://colab.research.google.com/github/joaoPedro095810/Aulas_PA/blob/main/Estruturas_de_Repeti%C3%A7%C3%A3o_ETEC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# IMPRIMIR NA TELA A FRASE "BOM DIA" 10 VEZES

print("BOM DIA! ")
print("BOM DIA! ")
print("BOM DIA! ")
print("BOM DIA! ")
print("BOM DIA! ")
print("BOM DIA! ")
print("BOM DIA! ")
print("BOM DIA! ")
print("BOM DIA! ")
print("BOM DIA! ")

BOM DIA!
BOM DIA!
BOM DIA!
BOM DIA!
BOM DIA!
BOM DIA!
BOM DIA!
BOM DIA!
BOM DIA!
BOM DIA!

In [9]:
# LAÇO DE REPETIÇÃO FOR
for i in range(1, 11):
  #print(i)
   print(i," -BOM DIA!")

1  -BOM DIA!
2  -BOM DIA!
3  -BOM DIA!
4  -BOM DIA!
5  -BOM DIA!
6  -BOM DIA!
7  -BOM DIA!
8  -BOM DIA!
9  -BOM DIA!
10  -BOM DIA!

In [12]:
# MOSTRAR TODOS OS NÚMEORS ÍMPARES DE 1 A 30
for i in range (1,31):
  if i%2 == 1:
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [16]:
# CONTADOR DE UM NÚMERO INICIAL E UM NÚMERO FINAL
# DIGITADOS PELO USUÁRIO


inicio = int(input("Digite o 1º número: "))
fim = int(input("Digite o 2º número: "))

if inicio>fim:
  aux = inicio
  inicio = fim
  fim = aux

for x in range (inicio,fim+1):
  print(x)

Digite o 1º número: 2
Digite o 2º número: 7
2
3
4
5
6
7

In [21]:
# SOME TODOS OS NÚMEROS DE 1 A 10
soma = 0
for a in range(1,11):
  soma = soma + a
  print('Acumulado => ',soma)
print("total => ",soma)

Acumulado =>  1
Acumulado =>  3
Acumulado =>  6
Acumulado =>  10
Acumulado =>  15
Acumulado =>  21
Acumulado =>  28
Acumulado =>  36
Acumulado =>  45
Acumulado =>  55
total =>  55

In [42]:
# SOMA DE ÍMPARES DE 1 ATÉ 100
soma = 0
for x in range(1,101):
   if x%2 == 1:
    soma = soma + x
   print("total => ", soma)

total =>  1
total =>  1
total =>  4
total =>  4
total =>  9
total =>  9
total =>  16
total =>  16
total =>  25
total =>  25
total =>  36
total =>  36
total =>  49
total =>  49
total =>  64
total =>  64
total =>  81
total =>  81
total =>  100
total =>  100
total =>  121
total =>  121
total =>  144
total =>  144
total =>  169
total =>  169
total =>  196
total =>  196
total =>  225
total =>  225
total =>  256
total =>  256
total =>  289
total =>  289
total =>  324
total =>  324
total =>  361
total =>  361
total =>  400
total =>  400
total =>  441
total =>  441
total =>  484
total =>  484
total =>  529
total =>  529
total =>  576
total =>  576
total =>  625
total =>  625
total =>  676
total =>  676
total =>  729
total =>  729
total =>  784
total =>  784
total =>  841
total =>  841
total =>  900
total =>  900
total =>  961
total =>  961
total =>  1024
total =>  1024
total =>  1089
total =>  1089
total =>  1156
total =>  1156
total =>  1225
total =>  1225
total =>  1296
total =>  1296
total =>  1369
total =>  1369
total =>  1444
total =>  1444
total =>  1521
total =>  1521
total =>  1600
total =>  1600
total =>  1681
total =>  1681
total =>  1764
total =>  1764
total =>  1849
total =>  1849
total =>  1936
total =>  1936
total =>  2025
total =>  2025
total =>  2116
total =>  2116
total =>  2209
total =>  2209
total =>  2304
total =>  2304
total =>  2401
total =>  2401
total =>  2500
total =>  2500

In [ ]:
# CONTADOR DE 1 A 10 COM WHILE

num = 1
while (num <= 100):
  print(num)
  #num = num + 1
  num += 1

In [1]:
# DIGITE NÚMEROS ATÉ QUE O USUÁRIO DIGITE 0
numero = int(input('Digite um número'))
soma = numero
while numero != 0:
  numero = int(input('Digite um numero'))
  soma += numero
print("Total = " ,soma)

Digite um número21332
Digite um numero545
Digite um numero0
Total =  21877

In [5]:
# CRIANDO UM MENU DE OPÇÕES
print("ESCOLHA UMA OPÇÃO")
print("DIGITE 1 PARA OBÇÃO 01")
print("DIGITE 2 PARA OBÇÃO 02")
print("DIGITE 3 PARA OBÇÃO 03")
print("DIGITE 4 PARA SAIR")
opcao = int(input("Sua opção ="))

if opcao == 1 :
  print("Você escolheu a opção 01")
  print()
  print("********************")
if opcao == 2 :
  print("Você escolheu a opção 02")
  print()
  print("********************")
if opcao == 3 :
  print("Você escolheu a opção 03")
  print()
  print("********************")

ESCOLHA UMA OPÇÃO
DIGITE 1 PARA OBÇÃO 01
DIGITE 2 PARA OBÇÃO 02
DIGITE 3 PARA OBÇÃO 03
DIGITE 4 PARA SAIR
Sua opção =1
Você escolheu a opção 01

********************